<div class="grid" style="width: 760px">
	<div class="row cells1">
		<div align="center"><h3>Thermo Controller - Stato Attuale</h3></div>
	</div>
	<div class="grid" style="width: 760px">
		<div class="row cells11">
			<div class="cell">
			</div>
			<div class="cell colspan3">
				<div align="center">Temperatura Interna</div>
				<div ng-radial-gauge ranges="rangesIn" value="latestTemperature.tempInt" value-unit="unit"
					 precision="precision" lower-limit="lowerLimitIn" upper-limit="upperLimitIn"></div>
				<div align="center">
					<label id="internal">{{latestTemperature.tempInt}}°C</label>
				</div>
			</div>
			<div class="cell colspan3">
				<div class="cell">
					<div class="align-center" style="margin-top:10%"><h4>{{latestTemperature.dateTime}}</h4></div>
					<div align="center" style="margin-top:5%">Stato Riscaldamento</div>
					<img src="../images/LedGreenOff.png" data-ng-show="latestTemperature.riscON == 0"
						 style="width:25%; margin-left:37%; margin-top:5%"/>
					<img src="../images/LedGreenOn.png" data-ng-show="latestTemperature.riscON == 1"
						 style="width:25%; margin-left:37%; margin-top:5%"/>
					<div align="center" style="margin-top:5%">Fascia Oraria</div>
					<div style="margin-top:5%"><h1 style="margin-left:30%">{{latestTemperature.timeSlot}}
                        <a ng-href="#/setup" title="Impostazione Fasce Orarie"><img src="../images/GestFasce.png"
                                                                                    style="width:40%; margin-left:10%"/></a>
					</h1>
					</div>
				</div>
			</div>
			<div class="cell colspan3">
				<div align="center">Temperatura Esterna</div>
				<div ng-radial-gauge ranges="rangesOut" value="latestTemperature.tempExt1" value-unit="unit"
					 precision="precision"
					 lower-limit="lowerLimitOut" upper-limit="upperLimitOut"></div>
				<div align="center">
					<label id="external">{{latestTemperature.tempExt1}}°C</label>
				</div>
			</div>
		</div>
        <div class="row cells9">
			<div class="cell">
			</div>
            <div class="cell colspan3">
                <div style="margin-left:50px">Seleziona Periodo DAL</div>
                <div class="input-control text" data-role="datepicker" data-format="dd mmm yyyy"
                     style="margin-left:50px">
					<input id="dataInizio" type="text" data-ng-model="dInizio">
                    <button class="button"><span class="mif-calendar"></span></button>
                </div>
            </div>
            <div class="cell colspan3">
                <div style="margin-left:10px">Seleziona Periodo AL</div>
                <div class="input-control text" data-role="datepicker" data-format="dd mmm yyyy">
					<input id="dataFine" type="text" data-ng-model="dFine">
                    <button class="button"><span class="mif-calendar"></span></button>
                </div>
            </div>
            <div class="cell">
                <div class="button button success" style="margin-top:20px; margin-left:-40px"
                     data-ng-click="visGraph()">Vai
                </div>
            </div>
            <!--
                            <select name="Periodo" align="center" ng-model="selezione" ng-change="chsel()">
                                <option value="Oggi" selected>Oggi</option>
                                <option value="Ieri">Ieri</option>
                                <option value="UltimaSettimana">Ultima Settimana</option>
                                <option value="UltimoMese">Ultimo Mese</option>
                            </select>
            !-->
			</div>
		</div>
		<div class="row cells7">
            <div class="cell colspan5" style="margin-left:80px">
				<ng-dygraphs style="height:450px;"
							 data="graph.data"
							 options="graph.options"
							 legend="graph.legend">
				</ng-dygraphs>
			</div>
			<!--<div class="cell colspan5">
				<canvas id="line" class="chart chart-line" chart-data="data"
						chart-labels="labels" chart-legend="true" chart-series="series" chart-colours="['red','blue']">
				</canvas>
			</div>-->
		</div>
	</div>
</div>
