<div class="grid no-margin" style="width: 480px">
    <div class="row cells1 no-margin">
        <div align="center"><h4>Thermo Controller - Stato Attuale</h4></div>
        <div class="align-center" style="margin-top:-10px"><h5 class="no-margin">{{latestTemperature.dateTime}}</h5>
        </div>
    </div>
    <div class="grid" style="width: 480px">
        <div class="row cells6">
            <div class="cell colspan3">
                <div ng-show="visTemp==0">
                    <div style="margin-top:5px; margin-left:65px">Temperatura Interna</div>
                    <div ng-radial-gauge ranges="rangesIn" value="latestTemperature.tempInt" value-unit="unit"
                         precision="precision" lower-limit="lowerLimitIn" upper-limit="upperLimitIn"
                         style="margin-left:30px; margin-top:0px"></div>
                    <div style="margin-left:110px; margin-top:-5px">
                        <label>{{latestTemperature.tempInt}}°C</label>
                    </div>
                </div>
                <div ng-show="visTemp==1">
                    <div style="margin-top:5px; margin-left:65px">Temperatura Esterna</div>
                    <div ng-radial-gauge ranges="rangesOut" value="latestTemperature.tempExt1" value-unit="unit"
                         precision="precision" lower-limit="lowerLimitOut" upper-limit="upperLimitOut"
                         style="margin-left:30px; margin-top:0px"></div>
                    <div style="margin-left:110px; margin-top:-5px">
                        <label>{{latestTemperature.tempExt1}}°C</label>
                    </div>
                </div>
                <div ng-show="visTemp==2">
                    <div style="margin-top:5px; margin-left:65px">Temperatura Caldaia</div>
                    <div ng-radial-gauge ranges="rangesTermo" value="latestTemperature.tempExt2" value-unit="unit"
                         precision="precision" lower-limit="lowerLimitTermo" upper-limit="upperLimitTermo"
                         style="margin-left:30px; margin-top:0px"></div>
                    <div style="margin-left:110px; margin-top:-5px">
                        <label>{{latestTemperature.tempExt2}}°C</label>
                    </div>
                </div>
            </div>
            <div class="cell colspan3">
                <div class="grid no-margin">
                    <div class="row">
                        <div style="margin-top:5px; margin-left:60px">Caldaia Attiva</div>
                        <img src="../images/LedGreenOff.png" data-ng-show="latestTemperature.tempExt2 <= 25"
                             style="width:20%; margin-left:37%; margin-top:5%"/>
                        <img src="../images/LedGreenOn.png" data-ng-show="latestTemperature.tempExt2 > 25"
                             style="width:20%; margin-left:37%; margin-top:5%"/>
                    </div>
                    <div class="row cells3">
                        <div class="cell">
                            <a ng-click="visTemp=0" title="Visualizza la temperatura interna"><img
                                    src="../images/TermInt.png"
                                    style="width:80%; margin-left:10%; margin-top:10px"/></a>
                        </div>
                        <div class="cell">
                            <a ng-click="visTemp=1" title="Visualizza la temperatura esterna"><img
                                    src="../images/TermExt.png" style="width:80%; margin-left:0%; margin-top:10px"/></a>
                        </div>
                        <div class="cell">
                            <a ng-click="visTemp=2" title="Visualizza la temperatura caldaia"><img
                                    src="../images/Termosifone.png"
                                    style="width:90%; margin-left:-10%; margin-top:8px"/></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>