<div class="grid no-margin" style="width: 480px; background-color:#000000">
    <div class="row cells2" style="margin-top:5px">
        <div class="cell">
            <img src="../images/CampanellaM1.png" style="width:20%; margin-left:70px; margin-top:0px"/>
        </div>
        <div class="cell">
            <label style="margin-left:-80px; margin-top:0px; font-size:30px; font-weight: bold; color:yellow">
                Alarm List
            </label>
        </div>
    </div>
    <div class="row cells5" style="height:10px">
    </div>
    <div class="row cells5" style="height:30px">
        <div class="cell" style="width:50px">
        </div>
        <div class="cell">
            <a href="#/alarmSetupRPI?Alarm=1" title="Imposta Sveglia">
                <label style="margin-left:10px; margin-top:0px; font-size:20px; font-weight: bold; color:yellow">
                    1
                </label>
            </a>
        </div>
        <div class="cell">
            <a href="#/alarmSetupRPI" title="Imposta Sveglia">
                <label style="margin-left:-40px; margin-top:0px; font-size:20px; font-weight: bold; color:yellow">
                    06:32
                </label>
            </a>
        </div>
        <div class="cell">
            <label style="margin-left:-40px; margin-top:0px; font-size:20px; font-weight: bold; color:yellow">
                LMMGVSD
            </label>
        </div>
        <div class="cell">
            <img src="../images/CampanellaM1.png" style="width:25%; margin-left:0px; margin-top:0px"/>
        </div>
    </div>
    <div class="row cells5" style="height:30px">
        <div class="cell" style="width:50px">
        </div>
        <div class="cell">
            <a href="#/alarmSetupRPI" title="Imposta Sveglia">
                <label style="margin-left:10px; margin-top:0px; font-size:20px; font-weight: bold; color:yellow">
                    2
                </label>
            </a>
        </div>
        <div class="cell">
            <a href="#/alarmSetupRPI" title="Imposta Sveglia">
                <label style="margin-left:-40px; margin-top:0px; font-size:20px; font-weight: bold; color:yellow">
                    06:32
                </label>
            </a>
        </div>
        <div class="cell">
            <label style="margin-left:-40px; margin-top:0px; font-size:20px; font-weight: bold; color:yellow">
                LMMGVSD
            </label>
        </div>
        <div class="cell">
            <img src="../images/CampanellaM1.png" style="width:25%; margin-left:0px; margin-top:0px"/>
        </div>
    </div>
    <div class="row cells5" style="height:30px">
        <div class="cell" style="width:50px">
        </div>
        <div class="cell">
            <a href="#/alarmSetupRPI" title="Imposta Sveglia">
                <label style="margin-left:10px; margin-top:0px; font-size:20px; font-weight: bold; color:yellow">
                    3
                </label>
            </a>
        </div>
        <div class="cell">
            <a href="#/alarmSetupRPI" title="Imposta Sveglia">
                <label style="margin-left:-40px; margin-top:0px; font-size:20px; font-weight: bold; color:yellow">
                    06:32
                </label>
            </a>
        </div>
        <div class="cell">
            <label style="margin-left:-40px; margin-top:0px; font-size:20px; font-weight: bold; color:yellow">
                LMMGVSD
            </label>
        </div>
        <div class="cell">
            <img src="../images/CampanellaM1.png" style="width:25%; margin-left:0px; margin-top:0px"/>
        </div>
    </div>
    <div class="row cells5" style="height:30px">
        <div class="cell" style="width:50px">
        </div>
        <div class="cell">
            <a href="#/alarmSetupRPI" title="Imposta Sveglia">
                <label style="margin-left:10px; margin-top:0px; font-size:20px; font-weight: bold; color:yellow">
                    4
                </label>
            </a>
        </div>
        <div class="cell">
            <label style="margin-left:-40px; margin-top:0px; font-size:20px; font-weight: bold; color:yellow">
                06:32
            </label>
        </div>
        <div class="cell">
            <label style="margin-left:-40px; margin-top:0px; font-size:20px; font-weight: bold; color:yellow">
                LMMGVSD
            </label>
        </div>
        <div class="cell">
            <img src="../images/CampanellaM1.png" style="width:25%; margin-left:0px; margin-top:0px"/>
        </div>
    </div>
    <div class="row cells5" style="height:30px">
        <div class="cell" style="width:50px">
        </div>
        <div class="cell">
            <a href="#/alarmSetupRPI" title="Imposta Sveglia">
                <label style="margin-left:10px; margin-top:0px; font-size:20px; font-weight: bold; color:yellow">
                    5
                </label>
            </a>
        </div>
        <div class="cell">
            <a href="#/alarmSetupRPI" title="Imposta Sveglia">
                <label style="margin-left:-40px; margin-top:0px; font-size:20px; font-weight: bold; color:yellow">
                    06:32
                </label>
            </a>
        </div>
        <div class="cell">
            <label style="margin-left:-40px; margin-top:0px; font-size:20px; font-weight: bold; color:yellow">
                LMMGVSD
            </label>
        </div>
        <div class="cell">
            <img src="../images/CampanellaNO.png" style="width:25%; margin-left:0px; margin-top:0px"/>
        </div>
    </div>
    <div class="row cells5" style="height:30px">
        <div class="cell">
        </div>
        <div class="cell">
        </div>
        <div class="cell">
        </div>
        <div class="cell">
        </div>
        <div class="cell">
            <a href="#/alarmRPI" title="Torna a Home"> <img src="../images/BackButton.png"
                                                            style="width:50%; margin-left:20px; margin-top:-11px; margin-bottom:10px"/>
            </a>
        </div>
    </div>
</div>
