<div class="grid" style="width:760px">
    <div class="row cells12">
        <div class="cell">
        </div>
        <div class="cell colspan2">
            <img src="../images/GestFasce.png" style="width:100%"/>
        </div>
        <div class="cell colspan8">
            <div><h3 class="align-center" style="margin-top:7%; margin-left:-100px">Impostazione Fasce Orarie</h3></div>
        </div>
    </div>
</div>

<div class="grid" style="width:760px">
    <div class="row cells12">
        <div class="cell">
        </div>
        <div class="cell colspan3">
            <h4>Seleziona Giorno</h4>
        </div>
        <div class="cell colspan2">
            <div class="input-control select">
                <select name="Giorno" align="center" title="Seleziona il giorno da impostare"
                        ng-model="giorno" ng-change="chsel()">
                    <option value="1" selected>Lunedì</option>
                    <option value="2">Martedì</option>
                    <option value="3">Mercoledì</option>
                    <option value="4">Giovedì</option>
                    <option value="5">Venerdì</option>
                    <option value="6">Sabato</option>
                    <option value="7">Domenica</option>
                </select>
            </div>
        </div>
        <div class="cell">
        </div>
        <div class="cell">
            <button class="button cycle-button success" data-ng-click="addNewRange(0)"
                    data-ng-disabled="ranges.length>0"><span
                    class="mif-plus"></span></button>
        </div>
        <div class="cell">
            <button class="button success" data-ng-click="copyRange()"
                    data-ng-disabled="ranges.length>0">Copia
            </button>
        </div>
    </div>
</div>
<div class="grid no-margin-bottom no-margin-top" style="width:760px">
    <div class="row cells2 no-margin-bottom no-margin-top">
        <div class="cell">
            <div class="grid">
                <div class="row cells6">
                    <div class="cell">
                    </div>
                    <div class="cell">
                        <h5>Fascia</h5>
                    </div>
                    <div class="cell colspan2 ">
                        <h5 style="margin-left:15px">Ora inizio</h5>
                    </div>
                    <div class="cell colspan2">
                        <h5 style="margin-left:15px">Ora fine</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="grid">
                <div class="row cells8">
                    <div class="cell colspan2">
                        <h5>Temperatura</h5>
                    </div>
                    <div class="cell">
                    </div>
                    <div class="cell colspan2">
                        <h5 style="margin-left:-10px">Isteresi</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row cells2 no-margin-bottom" ng-repeat="r in ranges">
        <div class="cell">
            <div class="grid">
                <div class="row cells6">
                    <div class="cell">
                    </div>
                    <div class="cell">
                        <label class=><h5 class="align-center">{{r.id}}</h5></label>
                    </div>
                    <div class="cell">
                        <div class="input-control text">
                            <input type="number" name="oraInizio" data-ng-model="r.initHour" title="Ora inizio"
                                   data-ng-change="updateInit(r)" style="width:45px; text-align:right">
                        </div>
                    </div>
                    <div class="cell">
                        <div class="input-control text">
                            <input type="number" name="minInizio" data-ng-model="r.initMinute" title="Minnuti inizio"
                                   data-ng-change="updateInit(r)" style="width:45px; text-align:right; left:-18px">
                        </div>
                    </div>
                    <div class="cell">
                        <div class="input-control text">
                            <input type="number" name="oraFine" data-ng-model="r.endHour" data-ng-change="updateEnd(r)"
                                   title="Ora fine" style="width:45px; text-align:right">
                        </div>
                    </div>
                    <div class="cell">
                        <div class="input-control text">
                            <input type="number" name="minFine" data-ng-model="r.endMinute" title="Minuti fine"
                                   data-ng-change="updateEnd(r)" style="width:45px; text-align:right; left:-18px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="grid">
                <div class="row cells12 no-margin-bottom no-margin-top">
                    <div class="cell">
                    </div>
                    <div class="cell">
                        <div class="input-control text">
                            <input type="number" name="Temperatura" data-ng-model="r.setPoint"
                                   title="Temperatura (10..25°C)"
                                   min="10" max="25" step="0.1"
                                   style="width:55px; text-align:right; left:-20px">°C
                        </div>
                    </div>
                    <div class="cell colspan3">
                    </div>
                    <div class="cell">
                        <div class="input-control text">
                            <input type="number" name="Isteresi" data-ng-model="r.hysteresis"
                                   title="Isteresi (0.1..2.0 °C)"
                                   min="0.1" max="2.0" step="0.1" style="width:45px; text-align:right; left:-20px">%
                        </div>
                    </div>
                    <div class="cell colspan2">
                    </div>
                    <div class="cell">
                        <button class="button cycle-button danger" data-ng-click="removeRange($index)"
                                title="Rimuovi questa fascia" style="left:-20px">
                            <span class="mif-minus"></span>
                        </button>
                    </div>
                    <div class="cell">
                        <button class="button cycle-button success" data-ng-click="addRange($index)"
                                title="Aggiungi una fascia dopo questa" style="left:-10px">
                            <span class="mif-plus"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="grid">
        <div class="row cells2">
            <div class="cell"></div>
        </div>
        <div class="row cells2">
            <div class="cell"></div>
        </div>
    </div>
</div>
<div class="grid" style="width:760px">
    <div class="row cells10">
        <div class="cell colspan3">
        </div>
        <div class="cell">
            <button class="button success" name="save" style="width:80px; left:50px" title="Salva questo giorno"
                    data-ng-click="saveRanges()">
                Salva
            </button>
        </div>
        <div class="cell">
        </div>
        <div class="cell">
            <button class="button primary" name="exit" style="width:80px; left:20px"
                    title="Torna alla pagina precedente"
                    onClick="history.go(-1)">
                Esci
            </button>
        </div>
    </div>
</div>

<script>
    function showDialog(id) {
        var dialog = $(id).data('dialog');
        dialog.open();
    }
</script>