<div class="grid no-margin-bottom" style="width:480px">
    <div class="row cells4">
        <div class="cell">
            <img src="../images/GestFasce.png" style="width:50%; margin-left:15px"/>
        </div>
        <div class="cell colspan3">
            <div><h3 class="align-center" style="margin-left:-100px">Impostazione Fasce Orarie</h3></div>
        </div>
    </div>
</div>

<div class="grid no-margin" style="width:480px">
    <div class="row cells7" style="margin-top:-8px">
        <div class="cell colspan2" style="margin-left:-90px">
            <h5>Giorno</h5>
        </div>
        <div class="cell">
            <div class="input-control select no-margin-top" style="margin-left:-60px; width:90px">
                <select name="Giorno" align="center" title="Seleziona il giorno da impostare"
                        ng-model="giorno" ng-change="chsel()">
                    <option value="0" selected>Lunedì</option>
                    <option value="1">Martedì</option>
                    <option value="2">Mercoledì</option>
                    <option value="3">Giovedì</option>
                    <option value="4">Venerdì</option>
                    <option value="5">Sabato</option>
                    <option value="6">Domenica</option>
                </select>
            </div>
        </div>
        <div class="cell">
            <button class="button cycle-button success" data-ng-click="addNewRange(0)"
                    data-ng-disabled="ranges.length>0" style="margin-left:-20px; margin-top:0px"><span
                    class="mif-plus"></span></button>
        </div>
        <div class="cell">
            <button class="button success" data-ng-click="copyRange()"
                    data-ng-disabled="ranges.length==0" style="margin-top:0px; margin-left:-20px; width:70px">Copia
            </button>
        </div>
        <div class="cell">
            <button class="button success" data-ng-click="pasteRange()"
                    style="margin-top:0px; margin-left:0px; width:70px"
                    data-ng-disabled="rangesCp.length==0">Incolla
            </button>
        </div>
    </div>
</div>

<div class="grid no-margin-bottom no-margin-top" style="width:480px">
    <div class="row cells4 no-margin-bottom">
        <div class="cell" style="margin-left: 22px; margin-top:-8px">
            <h5>Fascia</h5>
        </div>
        <div class="cell">
            <select name="Fascia" align="center" title="Seleziona la fascia oraria"
                    ng-model="selectedRange" style="width:60px; margin-left:-44px; margin-top:0px"
                    ng-options="f.id for f in ranges">
            </select>
        </div>
    </div>
</div>

<div class="grid no-margin-bottom no-margin-top" style="width:480px">
    <div class="row cells11 no-margin-bottom">
        <div class="cell" style="margin-left: 22px; margin-top:5px">
            <H5>Inizio</H5>
        </div>
        <div class="cell">
            <div class="input-control text" style="margin-left:12px; margin-top: 5px;">
                <input type="number" name="oraInizio" data-ng-model="selectedRange.initHour" title="Ora inizio"
                       data-ng-change="updateInit(selectedRange)" style="width:45px; text-align:right">
            </div>
        </div>
        <div class="cell">
            <div class="input-control text" style="margin-left:32px;; margin-top: 5px;">
                <input type="number" name="minInizio" data-ng-model="selectedRange.initMinute" title="Minuti inizio"
                       data-ng-change="updateInit(selectedRange)" style="width:45px; text-align:right; left:-18px">
            </div>
        </div>
        <div class="cell" style="margin-left: 80px; margin-top:5px">
            <H5>Fine</H5>
        </div>
        <div class="cell">
            <div class="input-control text" style="margin-left:0px; margin-top: 5px;">
                <input type="number" name="oraFine" data-ng-model="selectedRange.endHour" title="Ora fine"
                       data-ng-change="updateEnd(selectedRange)" style="width:45px; text-align:right">
            </div>
        </div>
        <div class="cell">
            <div class="input-control text" style="margin-left:19px; margin-top: 5px;">
                <input type="number" name="minFine" data-ng-model="selectedRange.endMinute" title="Minuti fine"
                       data-ng-change="updateEnd(selectedRange)" style="width:45px; text-align:right; left:-18px">
            </div>
        </div>
        <div class="cell" style="margin-left:50px; margin-top:0px">
            <button class="button cycle-button danger" data-ng-click="removeRange(selectedRange.id-1)"
                    title="Rimuovi questa fascia" style="left:10px">
                <span class="mif-minus"></span>
            </button>
        </div>
    </div>
</div>

<div class="grid no-margin-bottom" style="width:480px">
    <div class="row cells9 no-margin-bottom">
        <div class="cell" style="margin-left: 22px; margin-top:-5px">
            <H5>Temperatura</H5>
        </div>
        <div class="cell">
            <div class="input-control text" style="margin-left: 40px; margin-top: -5px;">
                <input type="number" name="Temperatura" data-ng-model="selectedRange.setPoint"
                       title="Temperatura (10..25°C)"
                       min="10" max="25" step="0.1"
                       style="width:55px; text-align:right">°C
            </div>
        </div>
        <div class="cell">
        </div>
        <div class="cell" style="margin-left: 50px; margin-top:-5px">
            <H5>Isteresi</H5>
        </div>
        <div class="cell">
            <div class="input-control text" style="margin-left:5px; margin-top: -5px;">
                <input type="number" name="Isteresi" data-ng-model="selectedRange.hysteresis"
                       title="Isteresi (0.1..2.0 °C)"
                       min="0.1" max="2.0" step="0.1" style="width:55px; text-align:right">%
            </div>
        </div>
        <div class="cell">
        </div>
        <div class="cell">
        </div>
        <div class="cell">
            <button class="button cycle-button success" data-ng-click="addRange(selectedRange.id-1)"
                    title="Aggiungi una fascia dopo questa" style="left:75px; margin-top: -15px">
                <span class="mif-plus"></span>
            </button>
        </div>
    </div>
</div>

<div class="grid no-margin-bottom" style="width:480px">
    <div class="row cells5">
        <div class="cell">
        </div>
        <div class="cell" style="margin-top:0px">
            <button class="button success" name="save" style="width:80px; left:40px" title="Salva questo giorno"
                    data-ng-click="saveRanges()">
                Salva
            </button>
        </div>
        <div class="cell" style="margin-top:0px">
            <button class="button primary" name="exit" style="width:80px; left:60px"
                    title="Torna alla pagina precedente"
                    onClick="history.go(-1)">
                Esci
            </button>
        </div>
    </div>
</div>

<script>
    function showDialog(id) {
        var dialog = $(id).data('dialog');
        dialog.open();
    }
</script>