<div class="grid" style="width:760px">
    <div class="row cells12">
        <div class="cell">
        </div>
        <div class="cell colspan2">
            <img src="../images/GestFasce.png" style="width:100%"/>
        </div>
        <div class="cell colspan8">
            <div><h3 class="align-center" style="margin-top:7%">Impostazione Fasce Orarie</h3></div>
        </div>
    </div>
</div>

<div class="grid" style="width:760px">
    <div class="row cells12">
        <div class="cell">
        </div>
        <div class="cell colspan3">
            <h4>Seleziona Giorno</h4>
        </div>
        <div class="cell colspan2">
            <div class="input-control select">
                <select name="Giorno" align="center" title="Seleziona il giorno da impostare"
                        ng-model="giorno" ng-change="chsel()">
                    <option value="Lunedi" selected>Lunedì</option>
                    <option value="Martedi">Martedì</option>
                    <option value="Mercoledi">Mercoledì</option>
                    <option value="Giovedi">Giovedì</option>
                    <option value="Venerdi">Venerdì</option>
                    <option value="Sabato">Sabato</option>
                    <option value="Domenica">Domenica</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="grid" style="width:760px">
    <div class="row cells2">
        <div class="cell">
            <div class="grid">
                <div class="row cells7">
                    <div class="cell">
                    </div>
                    <div class="cell">
                        <h5>Fascia</h5>
                    </div>
                    <div class="cell">
                    </div>
                    <div class="cell colspan2">
                        <h5>Ora inizio</h5>
                    </div>
                    <div class="cell colspan2">
                        <h5>Ora fine</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="grid">
                <div class="row cells8">
                    <div class="cell colspan2">
                        <h5>Temperatura</h5>
                    </div>
                    <div class="cell">
                    </div>
                    <div class="cell colspan2">
                        <h5>Isteresi</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row cells2" ng-repeat="r in ranges">
        <div class="cell">
            <div class="grid">
                <div class="row cells7">
                    <div class="cell">
                    </div>
                    <div class="cell">
                        <label class=><h5 class="align-center">{{r.fascia}}</h5></label>
                    </div>
                    <div class="cell">
                    </div>
                    <div class="cell">
                        <div class="input-control text">
                            <input type="number" name="oraInizio" style="width:45px">
                        </div>
                    </div>
                    <div class="cell">
                        <div class="input-control text">
                            <input type="number" name="minInizio" style="width:45px; left:-10px">
                        </div>
                    </div>
                    <div class="cell">
                        <div class="input-control text">
                            <input type="number" name="oraFine" style="width:45px">
                        </div>
                    </div>
                    <div class="cell">
                        <div class="input-control text">
                            <input type="number" name="minFine" style="width:45px; left:-10px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cell">
            <div class="grid">
                <div class="row cells12">
                    <div class="cell">
                    </div>
                    <div class="cell">
                        <div class="input-control text">
                            <input type="number" name="Temperatura" style="width:45px; left:-10px"> °C
                        </div>
                    </div>
                    <div class="cell colspan3">
                    </div>
                    <div class="cell">
                        <div class="input-control text">
                            <input type="number" name="Isteresi" style="width:45px; left:-10px">%
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="grid">
        <div class="row cells2">
            <div class="cell"></div>
        </div>
        <div class="row cells2">
            <div class="cell"></div>
        </div>
    </div>
</div>
<div class="grid" style="width:760px">
    <div class="row cells10">
        <div class="cell colspan2">
        </div>
        <div class="cell">
            <button name="save" style="width:80px"><h4>Salva</h4></button>
        </div>
        <div class="cell">
        </div>
        <div class="cell">
            <button name="exit" style="width:80px"><h4>Esci</h4></button>
        </div>
    </div>
</div>